<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>You {{state}}</title>
  </head>
  <body>
    <span>You {{state}}</span>
    <form action="/end" method="post">
      <span>Play again?</span> <br>
      <button type="submit" name="button" value="yes">Yes</button>
      <button type="submit" name="button" value="no">No</button>
    </form>

  </body>
</html>
